<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="d7016caa-ccd0-49c8-8fee-1b1bb843c5df"
            Publisher="CN=CLM"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Los Angeles Galaxy</DisplayName>
    <PublisherDisplayName>CLM</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Los_Angeles_Galaxy.App">
        <VisualElements
            DisplayName="Los Angeles Galaxy"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Los Angeles Galaxy"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>